.app {
  background: #fff;
  padding: 20px 30px;
  width: 700px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep dynamic-form .form-fields {
  display: flex;

  .full-name-input {
    margin: 1.5em 1.5em;
    flex-basis: 50%;
      color: rgb(8, 229, 19);
    }


  form-select {
    margin: 1.5em 1.5em;

    flex-basis: 25%;
  }

  form-button {
    margin: 1.5em 1.5em;

    margin-top: 3em;
    flex-basis: 25%;
  }
}
